@import "@/styles/variables";

.icon {
  width: 17%;
  padding: 0.3rem;
  border: 0.3rem dashed $accentColor;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
}

@media (min-width: 320px) {
  .icon {
    width: 75%;
  }
}

@media (min-width: 425px) {
  .icon {
    width: 65%;
  }
}

@media (min-width: 768px) {
  .icon {
    width: 35%;
  }
}

@media (min-width: 1024px) {
  .icon {
    width: 30%;
  }
}